body{
    overflow-x: hidden;
    margin: 0;
}
.font{
    font-family: 'Poppins';
}
.font1{
    font-family: 'Raleway';
}
/* navbar */
 .logo 
{
    display: flex;
    flex-grow: 7;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height:60px;
}

.topnav{
    display:flex;
}
.brand{
    
    font-weight:bold;
}
.topnavright{
    display: flex;
    flex-direction: row;
}
.underline:hover {
    border-bottom: 7px solid #FEDD00;
    transition: ease-in-out 0.1s;
}
.underline{
    cursor: pointer;
    align-self: center; 
}
.button{
    color: #ffffff;
    align-self: center;
    background-color: #0080F3;
    border:none;
}
/* topbackground */
.topmost
{
    display: flex;
    flex-direction: row;
}
.num{
    color: #D02C31;
    align-self: center;
    background-color: #F0E0E9;
    border:none;
    font-weight:600;
}

.text{
    font-weight: 600;
}
.works{
    
    font-weight:bold;
}
.subtext{
    font-weight: 600;
}
.message
{
    color: #707070;
    align-self: center;
    background-color: white;
    border:white;
    box-shadow: 0 3px 5px #888787;
}
.cards{
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns:auto auto auto ;
}
.card
{
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.car{
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    transition: 0.3s;
}
.msgbutton{
    color: #ffffff;
    align-self: center;
    background-color: #0080F3;
    border:none;
}
.msgbutton1{
    color: #ffffff;
    align-self: center;
    background-color: #0080F3;
    border:none;
}
.projectbutton{
    color: #6C63FF;
    align-self: center;
    background-color: #F0E0E9;
    border:none;
}
.contactform
{
    display: flex;
    flex-direction: row;
}
.endingtext{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}


@media only screen and (min-device-width:767px) and (max-device-width:1024px) 
{
    
  
        .leftalign
        {
        margin-left:75px;
        }
        /* navbar */
        .brandlogo
        {
        height:50px;
        width:30px;
        margin:10px 0 0 75px;
        }
        .navbar{
            height:80px;
        }
        .brand{
            padding:7px 0 0 15px;
            font-size:28px;
            margin:10px 0 0 0;
        }
        .underline{
            margin-right: 50px;
            font-weight:500;
            font-size:22px;
            margin-top:10px;
        }
        .button{
            font-size:18px;
            font-weight:500;
            height:40px;
            width:100px;
            margin-right: 75px;
            margin-top: 15px;
            
        }
        /* topbackground */
        .background{
            margin:10px 0 0  -240px;
        }
        /* topright*/
        .right
        {
            margin: -600px 0 0 0 ;
        }
        .serverconnect
        {
        margin:0 0 0 -100px;
        width:900px;
        height:460px;
            margin:-320px 0 0 600px;
            height:1500px;
            width:1500px;
        }
        .cards
        {
            margin-top:-1100px;
        }
        .card {
            margin-top:30px;
            width: 85%;
          }
          .car {
            margin-top:30px;
            width: 85%;
          }
          .container {
            padding: 2px 16px;
          }
          .topcolor1
          {
              height:10px;
              background-color: #6C63FF;
          }
          .topcolor2
          {
              height:10px;
              background-color: #3F3D56;
          }
          .topcolor3
          {
              height:10px;
              background-color: #D67F1F;
          }
          .manimg
          {
              margin:20px 0 0 20px;
          }
          .cardpara
          {
              font-size: 17px;
          }
          .projectbutton{
            font-size:13px;
            font-weight:600;
            width:100px;
            padding: 7px;
            margin-right: 75px;
            margin-top:20px;
            margin:20px 75px 20px 0;
          }
          
          .last
          {
              margin:-170px 0 0 -580px;
              width:1800px;
          }
        /* services */
        .ser
        {
            margin-top:-1510px ;
            font-size:28px;
            font-weight:bold;
        }
        .para
        {
        font-size:13px;
        font-weight: 600;
        margin-top:5px ;
        }
        .end
        {
            background-color: white;
            display: flex;
            flex-direction: row;
            display: grid;
            grid-template-columns:auto auto auto ;
            margin-top: 50px;
        }
        /* contact */
        .cont
        {
            margin-top:80px ;
            font-size:28px;
            font-weight:bold;
        }
        
        .content
        {
        font-size:13px;
        font-weight: 600;
        margin-top:5px ;
        }
        .inputbox
        {
            margin-top: 50px;
            width: 400px;
            height:45px;
        }
        .inputbox2
        {
            margin-top: 50px;
            width: 400px;
            height:380px;
        }
        .second
        {
            margin-top: -30px;
        }
        .person
        {
            margin:-25px 0 0 250px;
        }
        .personimg
        {
            
            height:740px;
        }
        /* final */
        .ending{
            margin-top: 180px;
            width:1600px;
        }
        .contactnum1
        {
            margin:-400px 0 0 700px;
        }
        .tag1
        {
            margin: 20px 0 0 630px;
        font-weight: bold;
        font-size: 30px;
        }
        .tag2{
        
            font-weight: bold;
            font-size: 30px;
            margin: 0px 0 0 680px;
        }
        .lasttext
        {
            font-size: 14px;
        }
        .text1
        {
            margin: 20px 0 0 640px; 
        }
        .text2
        {
            margin: 5px 0 0 600px; 
        }
        .lastbutton{
            margin: 30px 0 0 740px;
        }
        .endingtext{
            margin:60px 0 0 290px;
        }
        .cie
        {
            margin:0 0 0 400px;
            color:#0080F3;
        }
        .cprights
        {
            margin:0 0 0 20px;
        }
}
@media only screen and  (min-device-width:1921px) and (max-device-width:2560px)  
{ 
    .leftalign
{
margin-left:75px;
}
/* navbar */
.brandlogo
{
height:50px;
width:30px
}
.navbar{
    height:100px;
}
.brand{
    padding:7px 0 0 15px;
    font-size:30px;
}
.underline{
    margin-right: 50px;
    font-weight:500;
    font-size:24px;
}
.button{
    font-size:18px;
    font-weight:500;
    height:50px;
    width:110px;
    margin-right: 75px;
    margin-top: 5px;
    
}
/* topbackground */
.background{
    margin:10px 0 0  0px;
    height: auto;
}
/* topright*/
.right
{
    margin: -600px 0 0 0 ;
}
.serverconnect
{
margin:0 0 0 -100px;
}
/* topleft */
.contactnum
{
    margin: -600px 0 0 75px;
}
.num{
    font-size:12px;
    font-weight:600;
    padding: 9px 10px 9px 10px ;
}
.text{
    font-size: 80px;
    margin-top: 45px;
    width:500px;
}
.subtext{
    margin-top: 30px;
    font-size: 16px;
}
.message
{
    width:245px;
    height: 40px;
    font-size:12px;
    font-weight:600;
    padding: 9px 10px 9px 10px ;
    margin-top: 55px;
}
.msgbutton{
    margin-left:208px;
    font-size:10px;
    font-weight:500;
    width:70px;
    padding: 7px;
    margin-right: 75px;

}
.msgimg
{
    height:25px;
    margin: -3px 0 0 -200px;
}
.sidebut
{
    margin-top:-35px ;
}
.placeholder
{
    margin:-24px 0 0 10px;
}
/* works */
.works
{
    margin-top:140px ;
    font-size:28px;
}
.subtextworks{
font-size:13px;
margin-top:25px;
}
.msgbutton1{
    font-size:15px;
    font-weight:500;
    width:100px;
    padding: 10px;
    margin-right: 75px;
    margin-top:45px;

}
.middle{
    margin:-170px 0 0 900px;
    height:1700px;
    width:2350px;
}
.cards
{
    margin-top:-1100px;
}
.card {
    margin-top:30px;
    width: 80%;
  }
  .car {
    margin-top:30px;
    margin-left: 50px;
    width: 80%;
  }
  .container {
    padding: 2px 16px;
  }
  .topcolor1
  {
      height:10px;
      background-color: #6C63FF;
  }
  .topcolor2
  {
      height:10px;
      background-color: #3F3D56;
  }
  .topcolor3
  {
      height:10px;
      background-color: #D67F1F;
  }
  .manimg
  {
      margin:20px 0 0 20px;
  }
  .cardpara
  {
      font-size: 15px;
  }
  .projectbutton{
    font-size:13px;
    font-weight:600;
    width:100px;
    padding: 7px;
    margin-right: 75px;
    margin-top:20px;
    margin:20px 75px 20px 0;
  }
  
  .last
  {
      margin:-170px 0 0 -620px;
      width:2600px;
      /* height:2000px; */
  }
/* services */
.ser
{
    margin-top:-2350px ;
    font-size:40px;
    font-weight:bold;
}
.para
{
font-size:16px;
font-weight: 600;
margin-top:10px ;
}
.end
{
    background-color: white;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns:auto auto auto ;
    margin-top: 100px;
}
/* contact */
.cont
{
    margin-top:80px ;
    font-size:28px;
    font-weight:bold;
}

.content
{
font-size:13px;
font-weight: 600;
margin-top:5px ;
}
.inputbox
{
    margin-top: 50px;
    width: 400px;
    height:45px;
}
.inputbox2
{
    margin-top: 50px;
    width: 400px;
    height:380px;
}
.second
{
    margin-top: -30px;
}
.person
{
    margin:130px 0 0 0px;
}
.personimg
{
    
    height:600px;
}
/* final */
.ending{
    margin-top: 180px;
}
.contactnum1
{
    margin:-400px 0 0 500px;
}
.tag1
{
    margin: 20px 0 0 410px;
font-weight: bold;
font-size: 30px;
}
.tag2{

    font-weight: bold;
    font-size: 30px;
    margin: 0px 0 0 480px;
}
.lasttext
{
    font-size: 14px;
}
.text1
{
    margin: 20px 0 0 400px; 
}
.text2
{
    margin: 5px 0 0 350px; 
}
.lastbutton{
    margin: 30px 0 0 530px;
}
.endingtext{
    margin:60px 0 0 90px;
}
.cie
{
    margin:0 0 0 400px;
    color:#0080F3;
}
.cprights
{
    margin:0 0 0 20px;
}
}
@media only screen and  (min-device-width:1441px) and (max-device-width:1920px)  
{ 
  
.leftalign
{
margin-left:75px;
}
/* navbar */
.brandlogo
{
height:50px;
width:30px;
margin:10px 0 0 75px;
}
.navbar{
    height:80px;
}
.brand{
    padding:7px 0 0 15px;
    font-size:28px;
    margin:10px 0 0 0;
}
.underline{
    margin-right: 50px;
    font-weight:500;
    font-size:22px;
    margin-top:10px;
}
.button{
    font-size:18px;
    font-weight:500;
    height:40px;
    width:100px;
    margin-right: 75px;
    margin-top: 15px;
    
}
/* topbackground */
.background{
    margin:10px 0 0  -240px;
}
/* topright*/
.right
{
    margin: -600px 0 0 0 ;
}
.serverconnect
{
margin:0 0 0 -100px;
width:900px;
height:460px;
    margin:-320px 0 0 600px;
    height:1500px;
    width:1500px;
}
.cards
{
    margin-top:-1100px;
}
.card {
    margin-top:30px;
    width: 85%;
  }
  .car {
    margin-top:30px;
    width: 85%;
  }
  .container {
    padding: 2px 16px;
  }
  .topcolor1
  {
      height:10px;
      background-color: #6C63FF;
  }
  .topcolor2
  {
      height:10px;
      background-color: #3F3D56;
  }
  .topcolor3
  {
      height:10px;
      background-color: #D67F1F;
  }
  .manimg
  {
      margin:20px 0 0 20px;
  }
  .cardpara
  {
      font-size: 17px;
  }
  .projectbutton{
    font-size:13px;
    font-weight:600;
    width:100px;
    padding: 7px;
    margin-right: 75px;
    margin-top:20px;
    margin:20px 75px 20px 0;
  }
  
  .last
  {
      margin:-170px 0 0 -580px;
      width:1800px;
  }
/* services */
.ser
{
    margin-top:-1510px ;
    font-size:28px;
    font-weight:bold;
}
.para
{
font-size:13px;
font-weight: 600;
margin-top:5px ;
}
.end
{
    background-color: white;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns:auto auto auto ;
    margin-top: 50px;
}
/* contact */
.cont
{
    margin-top:80px ;
    font-size:28px;
    font-weight:bold;
}

.content
{
font-size:13px;
font-weight: 600;
margin-top:5px ;
}
.inputbox
{
    margin-top: 50px;
    width: 400px;
    height:45px;
}
.inputbox2
{
    margin-top: 50px;
    width: 400px;
    height:380px;
}
.second
{
    margin-top: -30px;
}
.person
{
    margin:-25px 0 0 250px;
}
.personimg
{
    
    height:740px;
}
/* final */
.ending{
    margin-top: 180px;
    width:1600px;
}
.contactnum1
{
    margin:-400px 0 0 700px;
}
.tag1
{
    margin: 20px 0 0 630px;
font-weight: bold;
font-size: 30px;
}
.tag2{

    font-weight: bold;
    font-size: 30px;
    margin: 0px 0 0 680px;
}
.lasttext
{
    font-size: 14px;
}
.text1
{
    margin: 20px 0 0 640px; 
}
.text2
{
    margin: 5px 0 0 600px; 
}
.lastbutton{
    margin: 30px 0 0 740px;
}
.endingtext{
    margin:60px 0 0 290px;
}
.cie
{
    margin:0 0 0 400px;
    color:#0080F3;
}
.cprights
{
    margin:0 0 0 20px;
}
}
@media only screen and (min-device-width:1025px) and (max-device-width:1440px) 
{
.leftalign
{
margin-left:75px;
}
/* navbar */
.brandlogo
{
height:50px;
width:30px
}
.brand{
    padding:7px 0 0 15px;
    font-size:24px;
}
.underline{
    margin-right: 50px;
    font-weight:500;
    font-size:18px;
}
.button{
    font-size:13px;
    font-weight:500;
    height:40px;
    width:100px;
    margin-right: 75px;
    margin-top: 5px;
    
}
/* topbackground */
.background{
    margin:10px 0 0  -240px;
}
/* topright*/
.right
{
    margin: -600px 0 0 0 ;
}
.serverconnect
{
margin:0 0 0 -100px;
}
/* topleft */
.contactnum
{
    margin: -600px 0 0 75px;
}
.num{
    font-size:12px;
    font-weight:600;
    padding: 9px 10px 9px 10px ;
}
.text{
    font-size: 80px;
    margin-top: 45px;
    width:500px;
}
.subtext{
    margin-top: 30px;
    font-size: 16px;
}
.message
{
    width:245px;
    height: 40px;
    font-size:12px;
    font-weight:600;
    padding: 9px 10px 9px 10px ;
    margin-top: 55px;
}
.msgbutton{
    margin-left:208px;
    font-size:10px;
    font-weight:500;
    width:70px;
    padding: 7px;
    margin-right: 75px;

}
.msgimg
{
    height:25px;
    margin: -3px 0 0 -200px;
}
.sidebut
{
    margin-top:-35px ;
}
.placeholder
{
    margin:-24px 0 0 10px;
}
/* works */
.works
{
    margin-top:140px ;
    font-size:28px;
}
.subtextworks{
font-size:13px;
margin-top:25px;
}
.msgbutton1{
    font-size:10px;
    font-weight:500;
    width:70px;
    padding: 7px;
    margin-right: 75px;
    margin-top:25px;

}
.cards
{
    margin-top:-850px;
}
.card {
    margin-top:30px;
    width: 85%;
  }
  .car {
    margin-top:30px;
    width: 85%;
  }
  .container {
    padding: 2px 16px;
  }
  .topcolor1
  {
      height:10px;
      background-color: #6C63FF;
  }
  .topcolor2
  {
      height:10px;
      background-color: #3F3D56;
  }
  .topcolor3
  {
      height:10px;
      background-color: #D67F1F;
  }
  .manimg
  {
      margin:20px 0 0 20px;
  }
  .cardpara
  {
      font-size: 15px;
  }
  .projectbutton{
    font-size:13px;
    font-weight:600;
    width:100px;
    padding: 7px;
    margin-right: 75px;
    margin-top:20px;
    margin:20px 75px 20px 0;
  }
  .middle{
      margin:-170px 0 0 600px;
  }
  .last
  {
      margin:-170px 0 0 -620px;
  }
/* services */
.ser
{
    margin-top:-1510px ;
    font-size:28px;
    font-weight:bold;
}
.para
{
font-size:13px;
font-weight: 600;
margin-top:5px ;
}
.end
{
    background-color: white;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns:auto auto auto ;
    margin-top: 50px;
}
/* contact */
.cont
{
    margin-top:80px ;
    font-size:28px;
    font-weight:bold;
}

.content
{
font-size:13px;
font-weight: 600;
margin-top:5px ;
}
.inputbox
{
    margin-top: 50px;
    width: 400px;
    height:45px;
}
.inputbox2
{
    margin-top: 50px;
    width: 400px;
    height:380px;
}
.second
{
    margin-top: -30px;
}
.person
{
    margin:130px 0 0 0px;
}
.personimg
{
    
    height:600px;
}
/* final */
.ending{
    margin-top: 180px;
}
.contactnum1
{
    margin:-400px 0 0 500px;
}
.tag1
{
    margin: 20px 0 0 410px;
font-weight: bold;
font-size: 30px;
}
.tag2{

    font-weight: bold;
    font-size: 30px;
    margin: 0px 0 0 480px;
}
.lasttext
{
    font-size: 14px;
}
.text1
{
    margin: 20px 0 0 400px; 
}
.text2
{
    margin: 5px 0 0 350px; 
}
.lastbutton{
    margin: 30px 0 0 530px;
}
.endingtext{
    margin:60px 0 0 90px;
}
.cie
{
    margin:0 0 0 400px;
    color:#0080F3;
}
.cprights
{
    margin:0 0 0 20px
}
}